.sidebarCss {
    position: fixed;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    background: #fff;
    transition: transform .3s ease-out;
    z-index: 10001;
    transform: translateZ(0);
}

.inputCss1 {
    border: 1px solid #d4d5d9;
    padding: 0;
    display: block;
    position: relative;
    transform: translateZ(0);
}

.inputCss2 {
    height: 50px;
    padding-top: 0;
    font-size: 1.15rem;
}

.inputCss3 {
    background-color: transparent;
    line-height: normal;
    border: none;
    outline: none;
    height: 70px;
    width: 100%;
    font-size: 17px;
    margin: 0;
    padding: 0 20px;
    padding-top: 22px;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}
